#main-window {
    width: 70vw;
    height: 100vh;

    padding-left: 15vw;
    padding-right: 15vw;
}

.header {
    height: 10vh;

    display: flex;
    flex-direction: row;
}

.header-logo {
    width: 18%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.header-logo > div {
    text-transform: uppercase;
}

.logo-image {
    width: 30%;
    height: 100%;

    background: url(../images/logo_transparent.png) no-repeat;
    background-size: contain;
}

.logo-text > p {
    font-size: 22px;
    position: relative;
    top: 50%;
    left: 5%;
}

.header-nav {
    width: 55%;

    margin-left: 5%;
}

.header-nav ul > li {
    display: inline-block;
    padding: 6% 2% 0 2%;
}

.header-nav ul > li a {
    text-decoration: none;
    color: black;
    font-size: 1.4em;
}

.header-nav ul > li a:hover {
    border-bottom: 2px solid #A9A9A9;
}

.header-remaining-time > * {
    font-size: 1.4em;
    position: relative;
    top: 35%;
}

.remaining-time {
    display: inline-block;
}

.remaining-time span:not(:last-of-type)::after {
    content: ":";
}

main {
    height: 85vh;
}

.game-window {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 20%;
    grid-template-rows: 35% 20%;

    margin-left: 20%;
    box-sizing: border-box;
}

.question-number {
    position: relative;
    text-align: center;
    top: 20%;

    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
}

.question-text {
    position: relative;
    text-align: center;
    top: 40%;

    font-size: 5em;
    font-weight: bold;
    text-transform: uppercase;
}

.current-result {
    position: relative;
    top: 20%;

    font-size: 1.2em;
}

#answer {
    justify-self: center;
    width: 50%;
    height: 15%;

    overflow: hidden;
    border-radius:0.5em;
    box-shadow: 8px 8px 2px 1px #A9A9A9;
}

.result-window {
    width: 100%;
    height: 100%;
    padding-top: 5%;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: 10% 20% 10%;

    margin-left: 20%;
    box-sizing: border-box;
}

.result-info {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;

    font-size: 1.5em;
}

.result-text {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    
    font-size: 3em;
}

.result-button {
    margin-right: 8%;
    width: 150px;
}

.result-retry {
    justify-self: right;
}

.result-statistics {
    justify-self: left;
}

footer {
    height: 5vh;
}